nav {
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
  display: flex;
  justify-content: space-around;
  backdrop-filter: blur(3px);
  height: 2.5em;
  align-items: center;
  box-shadow: 0px 0px 6px hsla(41, 80%, 40%, 0.5);
  background-color: hsla(41, 100%, 70%, 0.4);
  font-family: "Source Sans Pro", "sans";
}

#lang-menu {
  position: relative;
}

#lang-menu ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  backdrop-filter: blur(10px);
  background-color: hsla(41, 100%, 70%, 0.4);
  border: 1px solid hsla(41, 80%, 40%, 0.3);
  box-shadow: 0px 0px 6px hsla(41, 80%, 40%, 0.5);
  border-radius: 3px;
  position: absolute;
  margin-top: 2.1em;
  top: 0em;
  left: 0;
}

#lang-menu ul li .lang {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  backdrop-filter: blur(10px);
}

#lang-menu ul li .lang:hover {
  background-color: hsla(41, 50%, 60%, 0.5);
}

#lang-menu ul li .lang::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  padding-right: 5px;
  background-repeat: no-repeat;
}

#ua::before {
  background-image: url("https://flagsapi.com/UA/flat/32.png");
}

#he::before {
  background-image: url("https://flagsapi.com/IL/flat/32.png");
}

#en::before {
  background-image: url("https://flagsapi.com/US/flat/32.png");
}

#selected-lang {
  cursor: poiner;
  display: flex;
  align-items: center;
}

#selected-lang::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  padding-right: 5px;
  background-image: url("../../images/favicon-32x32.png");
  /* background-size: 25; */
  background-repeat: no-repeat;
}

#lang-menu:hover ul {
  display: block;
}
