nav {
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
  display: flex;
  justify-content: space-around;
  backdrop-filter: blur(3px);
  height: 2.2em;
  align-items: center;
  box-shadow: 0px 0px 6px hsla(41, 80%, 40%, 0.5);
  background-color: hsla(41, 100%, 70%, 0.4);
  font-family: "Source Sans Pro", "sans";
  font-size: 1.3em;
}

#lang-menu {
  position: relative;
}

#lang-menu ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  backdrop-filter: blur(10px);
  background-color: hsla(41, 100%, 70%, 0.4);
  border: 1px solid hsla(41, 80%, 40%, 0.3);
  box-shadow: 0px 0px 6px hsla(41, 80%, 40%, 0.5);
  border-radius: 3px;
  position: absolute;
  /* top: 0; */
  right: 0px;
}

#lang-menu ul li {
  display: flex;
  padding: 10px;
  align-items: center;
  backdrop-filter: blur(10px);
}

#lang-menu ul li:hover {
  background-color: hsla(41, 50%, 60%, 0.5);
}

#lang-menu ul li span {
  margin: 0 5px;
}

#selected-lang {
  cursor: pointer;
  display: block;
  width: 100%;
}

#lang-menu:hover ul {
  display: block;
}
