@keyframes grow-in {
  0% {
    opacity: 0;
    font-size: 0.2em;
  }
  100% {
    opacity: 1;
    font-size: 3vw;
  }
}

@-webkit-keyframes grow-in {
  0% {
    opacity: 0;
    font-size: 0.2em;
  }
  100% {
    opacity: 1;
    font-size: 3vw;
  }
}

header {
  animation: 2s grow-in forwards ease-in-out;
  text-size-adjust: auto;
  margin: 0 auto;
  background-image: url("../../images/wreath.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#header_text {
  padding-top: 70px;
  padding-bottom: 50px;
  backdrop-filter: blur(8px);
}

#header_sentence_1 {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 9;
  font-size: 0.8em;
}

#header_sentence_2 {
  position: relative;
  z-index: 9;
  font-size: 3em;
  margin: 2rem 0;
}

html:lang(he) #header_sentence_2 {
  font-size: 3em;
  margin: 2.5rem 0;
}

#header_sentence_3 {
  position: relative;
  z-index: 9;
}

@media screen and (max-width: 450px) {
  #header_text {
    padding-top: 70px;
    padding-bottom: 90px;
    /* backdrop-filter: blur(8px); */
  }

  #header_sentence_1 {
    font-size: 1.9em;
    width: 80%;
  }

  #header_sentence_2 {
    position: relative;
    z-index: 9;
    /* font-size: 2.5em; */
    /* margin: 1rem 0; */
  }

  html:lang(he) #header_sentence_2 {
    font-size: 4em;
    margin: 1.5rem 0;
  }

  #header_sentence_3 {
    font-size: 1.8em;
    /* margin-bottom: 2rem 0; */
  }
}
